.header {
    padding: 20px;
    display: flex;
    align-items: center;
    color: black; 
}
.logo {
    background-color: #ABD8ED;
    height: 6em;
    padding: 1.5em;
} 
.heading{
    text-align: start;
    background-color:  #ABD8ED;
}
